@{
    ViewBag.Title = "CAS.NET";
}

<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>
<h>Here there be equations, algebra and fun :D </h> <br />

<h>2 + 2 = 4</h> <br />
<h>3 * 2 - 1 = 5</h> <br />

<h> 3x^2+2x-4=0, what is x?</h> <br /> <br />

<h> The current time is @DateTime.Now </h> <br />
<h> Prozum 2015 under GPLv2</h>